.events-block{
  text-align: center;
  text-align: -webkit-center;
}

.hours-back{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 80px 200px;
  grid-template-rows: repeat(9, 150px);
  width: 300px;
}

.hour-row{
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-top: 1px solid #C9C8C8;
  height: 150px;
  grid-column: 1;
}

.half.hour-row{
  display: table-row;
  border-top: none;
}

.last.hour-row{
  height: auto;
}

.hour-mark{
  text-align: left;
  display: table-cell;
  font-size: 16px;
  grid-row: 1;
}

.half.hour-mark{
  display: table-cell;
  font-size: 12px;
  grid-row: 2;
}

.hour-event-area{
  border-top: 1px solid #C9C8C8;
  grid-column: 2;
}

.half.hour-event-area{
  border-top: none;
}

p.hour-mark,
p.half.hour-mark{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    color: #808080;
    margin: 0 0 0 15px;
    flex-grow: 1;
    flex-basis: 50%;
}
